<nav class="nav {{ modifier_class }}">
  <ul class="nav__level-1">
    <li class="nav__item"><a href="{{ path }}" title="{{ title }}">Solutions</a></li>
    <li class="nav__item"><a href="{{ path }}" title="{{ title }}">About us</a></li>
    <li class="nav__item"><a href="{{ path }}" title="{{ title }}">Contact</a></li>
  </ul>
</nav>
